<manifest package="com.elegion.hellomap" xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Step 2 -->
    <!-- Note! EXTERNAL_STORAGE only for preM-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"/>

    <!-- Located in GPS manifest. Will be merged automatically. -->
    <!-- android.permission.INTERNET -->
    <!-- android.permission.ACCESS_NETWORK_STATE -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Step 3 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>


    <!-- GCM permissions. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!-- Custom GCM permission.-->
    <permission android:name="com.elegion.hellomap.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="com.elegion.hellomap.permission.C2D_MESSAGE"/>

    <!-- Billing -->
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application android:allowBackup="true"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme"
                 tools:ignore="AllowBackup">

        <!-- Step 4 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="${googleApiKey}"/>


        <activity android:name=".MapActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ClusterActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".gcm.GCMActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LocationActivity"/>

        <!-- GCM data. -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.example.gcm"/>
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <!-- Address -->
        <activity android:name=".AddressActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".FetchAddressIntentService"
                 android:exported="false"/>

    </application>

</manifest>
